---
layout: base.liquid
---

<div class="project">
<h1>{{ postTitle | safe }}</h1>
<br>
<h2>{{ projectDate }}</h2>
<div class="spanner"></div>
<img class="project-image" src="/images/{{ postTitle | slug }}/{{ postTitle | slug }}.png" alt="" />
<div class="project-info">
	<h3>Timeline: </h3> {{ projectTimeline | safe }} <br><br>
	<h3>Tools Used:</h3> {{ toolsUsed | safe }}
</div>
<img class="project-image" src="/images/{{ postTitle | slug }}/{{ postTitle | slug }}2.png" alt="" />

<img class="project-image-random" src="/images/{{ postTitle | slug }}/{{ postTitle | slug }}3.png" alt="" />
<div class="project-blurb">
	{{ content | safe }}
</div>
<img class="project-image-random" src="/images/{{ postTitle | slug }}/{{ postTitle | slug }}4.png" alt="" />

<img class="project-image" src="/images/{{ postTitle | slug }}/{{ postTitle | slug }}5.png" alt="" />

<img class="project-image" src="/images/{{ postTitle | slug }}/{{ postTitle | slug }}6.png" alt="" />

</div>


<div class="nextLink">
	{%- assign posturls = collections.projects | map: "url" -%} {%- for
	post in collections.projects -%} {%- if post.url == page.url %} {%-
	assign next_i = forloop.index0 | plus: 1 %} {%- assign prev_i =
	forloop.index0 | minus: 1 %} {%- if forloop.first == false %}
	<a href="{{ posturls[prev_i] }}" style="float: Left">&larr; Previous</a>
	{%- endif %} {%- if forloop.last == false %}
	<a href="{{ posturls[next_i] }}" style="float: right">Next &rarr;</a>
	{%- endif %} {%- endif %} {%- endfor %}
</div>
